<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <!--共12+1个-->
    <add key="ServerIP" value="192.168.1.103" />
    <add key="ServerPort" value="8080" />
    <add key="bufferLength" value="1009" />
    <add key="Adlength" value="1000" />
    <add key="checkRecDataQueueTimeInterval" value="10" />
    <add key="checkSendDataQueueTimeInterval" value="3000" />
    <add key="checkDataBaseQueueTimeInterval" value="5000" />
    <add key="g_totalPackageCount" value="600" />
    <add key="maxTimeOut" value="180" />
    <add key="maxBadClient" value="0" />
    <add key="IsAutoTest" value="0" />
    <add key="CapNextTime" value="3" />
    <add key="ServerDB" value="Server=localhost;uid=root;pwd=123456;database=dbvpipe;pooling=false;charset=utf8" />
    <add key="ImagePath" value="D:\\AdImages\\" />
  </appSettings>
  
  <log4net>
    <!-- 定义输出到文件中 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <!--日志名称-->
      <file value="errorLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>

      <!--日志最大可备份数-->
      <maxSizeRollBackups value="10"/>
      <!--日志文件大小-->
      <maximumFileSize value="1024KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n错误描述：%message%newline %n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  
</configuration>